.cart-notice {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 250px;
  height: 120px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);
  z-index: 1;

  color: #000;
  font-weight: 700;
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
}