.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-content: start;
  position: relative;

  &--empty::before {
    position: absolute;
    content: 'Извините, совпадений не обнаружено';
    font-size: 25px;
    padding: 60px 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 920px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

.products__card {
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &::after,
  &::before {
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    text-align: center;
  }

  &::after {
    display: none;
    content: 'в корзину';
    background-color: #0C5AD8;
    border-radius: 3px;
    width: 84px;
    height: 20px;
    top: 12px;
    right: 8px;
  }

  &:hover {
    box-shadow: 0px 0px 13px 3px rgba(34, 60, 80, 0.2);
  }

  &:hover::after {
    display: block;
  }

  &.products__card--in-cart::after {
    display: block;
    content: 'добавлено';
    background-color: #00CC5B;
  }

  &.products__card--popular::before {
    content: 'популярный';
    z-index: 1;
    background-color: #da2424;
    height: 22px;
    width: 140px;
    top: 30px;
    left: -31px;
    transform: rotate(-45deg);
  }
}

.products__card-img {
  position: relative;
  width: 100%;
  height: 270px;
  object-fit: cover;
  
}

.products__list {
  text-align: center;

}

.product__card-title {
  font-size: 16px;
}

.product__card-price {
  color: #da2424;
}

.product__card-additional {
  font-size: 12px;
  color: #707070;
}