.header-bottomline {
  color: #000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.header-bottomline__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header-bottomline__logo {
  height: 80px;
  width: auto;
}

.header-bottomline__slogan {
  justify-self: center;
  font-size: 23px;
  font-weight: 600;
}

.header-bottomline__cart-wrapper {
  justify-self: right;
  padding: 6px;

  position: relative;
}

.header-bottomline__cart-img {
  width: 40px;
  height: auto;
}

.header-bottomline__cart-counter {
  position: absolute;
  top: 2px;
  right: 2px;

  background-color: #f55123;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottomline__cart-subtitle {
  margin: 0;
}